﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="login-container">
    <h2>Błąd!</h2>
    <div class="login-form-container">
        Spróbuj zalogować się jeszcze raz!
    </div>
</div>

