﻿@model SystemAnkietPJWSTK.Models.Login

@{
    Layout = "~/Views/Shared/_Login.cshtml";
}

<div class="login-container">
        <img id="img-login-pjwstk" src="@Url.Content("~/Content/Images/logo_pjatk.png")">
    <h2>@ViewBag.Title</h2>
    <div class="login-form-container">

    @using (Html.BeginForm())
    {
                <div id="loginForm">
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.userName,  new {@class = "k-textbox", placeholder = "Login" })
                        @Html.ValidationMessageFor(model => model.userName)
                    </div>
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.userPass, new { @class = "k-textbox", placeholder = "Hasło", type = "password" })
                        @Html.ValidationMessageFor(model => model.userPass)
                    </div>
                </div>

          <input type="submit" value="Zaloguj" class="btn btn-default k-button" />
    }
    </div>
</div>


