﻿@model SystemAnkietPJWSTK.Models.Ankieta

@using SystemAnkietPJWSTK.Models;
@using SystemAnkietPJWSTK.Controllers;

@{
    List<Pytanie> formularz = new List<Pytanie>();
    formularz = (List<Pytanie>)@ViewData["forumlarz"];
}

@{
    List<Odpowiedz> odpowiedzi = new List<Odpowiedz>();
    odpowiedzi = (List<Odpowiedz>)@ViewData["odpowiedzi"];
}


@using (Html.BeginForm())
{

    if (formularz != null)
    {
        <h2 class="Ankieta_Id" id="@Model.IdAnkieta">@Model.Nazwa</h2>

        if (@Model.Opis != null)
        {
            <div class="form-show">
                <h5>
                    @(new HtmlString(HttpUtility.HtmlDecode(@Model.Opis)))
                </h5>
            </div>
        }

        foreach (Pytanie p in formularz)
        {
            <div class="form-show">
               @(new HtmlString(HttpUtility.HtmlDecode(p.Tresc)))
            </div>

            Odpowiedz odp = null;

            foreach (Odpowiedz o in odpowiedzi)
            {
                if (o.IdPytanie == p.Id)
                {
                    odp = o;
                }
            }

            if (p.Typ == 1)
            {
                if (odp.IdPytanie == p.Id && odp != null)
                {
                    <div class="one-line-input">
                        <input type="text" id="@p.Id" class="k-textbox" name="TrescOdpOtwartej_@p.Id"
                               data-val="true" data-val-required="Odpowiedź jest wymagana" data-val-length-min="1"
                               data-valmsg-for="true" data-val-length="Odpowiedź nie może być dłuższa niż 1000 znaków" data-val-length-max="1000" value="@odp.TrescOdpOtwartej" />
                        <span class="field-validation-valid" data-valmsg-for="true" data-valmsg-replace="true"></span>
                    </div>
                }
                else
                {
                    <div class="one-line-input">
                        <input type="text" id="@p.Id" class="k-textbox" name="TrescOdpOtwartej_@p.Id"
                               data-val="true" data-val-required="Odpowiedź jest wymagana" data-val-length-min="1"
                               data-valmsg-for="true" data-val-length="Odpowiedź nie może być dłuższa niż 1000 znaków" data-val-length-max="1000" />
                        <span class="field-validation-valid" data-valmsg-for="true" data-valmsg-replace="true"></span>
                    </div>
                }
            }
            else if (p.Typ == 2)
            {
                if (odp.IdPytanie == p.Id && odp != null)
                {
                    <textarea class="text-area-custom" id="@p.Id" name="TrescOdpOtwartej_@p.Id" cols="20" rows="2"
                              data-val="true" data-val-required="Odpowiedź jest wymagana" data-val-length-min="1"
                              data-valmsg-for="true" data-val-length="Odpowiedź nie może być dłuższa niż 1000 znaków" data-val-length-max="1000">
                        @odp.TrescOdpOtwartej
                        </textarea>
                        <span class=".k-widget.k-tooltip-validation" data-valmsg-for="true" data-valmsg-replace="true"></span>
                }
                else
                {
                    <div>
                        Weszło 4
                        <textarea class="text-area-custom" id="@p.Id" name="TrescOdpOtwartej_@p.Id" cols="20" rows="2"
                                  data-val="true" data-val-required="Odpowiedź jest wymagana" data-val-length-min="1"
                                  data-valmsg-for="true" data-val-length="Odpowiedź nie może być dłuższa niż 1000 znaków" data-val-length-max="1000"></textarea>
                        <span class=".k-widget.k-tooltip-validation" data-valmsg-for="true" data-valmsg-replace="true"></span>
                    </div>
                }
            }
            else
            {
                foreach (PropOdpowiedz po in p.props)
                {
                    IEnumerable<bool> tmp = odpowiedzi.Select(o => o.IdPole == po.IdPole);

                    if (p.Typ == 3)
                    {

                        if (tmp.Contains(true))
                        {
                            <div>
                                <input type="radio" id="@po.IdPole" name="OdpZamknieta_@p.Id" checked="checked" />
                                <label> @po.PropTresc</label>
                            </div>
                        }
                        else
                        {
                            <div>
                                <input type="radio" id="@po.IdPole" name="OdpZamknieta_@p.Id" />
                                <label> @po.PropTresc</label>
                            </div>
                        }
                    }
                    else if (p.Typ == 4)
                    {

                        if (tmp.Contains(true))
                        {
                            <div>
                                <input type="checkbox" id="@po.IdPole" name="OdpZamknieta_@po.IdPole" checked />
                                <label> @po.PropTresc</label>
                            </div>
                        }
                        else
                        {
                            <div>
                                <input type="checkbox" id="@po.IdPole" name="OdpZamknieta_@po.IdPole" />
                                <label> @po.PropTresc</label>
                            </div>
                        }
                    }
                }
            }
        }

        <div class="form-show">
            @(Html.Kendo().Button()
                .Name("saveButton")
                .HtmlAttributes(new { type = "button" })
                .Content("Zapisz")
                .Events(e => e.Click("saveAnswers"))
            )
        </div>
    }
}

<script>

    function saveAnswers(e) {
        e.preventDefault();
        var validator = $("form").kendoValidator().data("kendoValidator");


        if (validator.validate()) {

            var odpowiedzi = Array();

            var numerId = $('[class="Ankieta_Id"]').attr("id");

            $('[name^="TrescOdpOtwartej"]').map(function () {
                var tmp = Array();
                tmp.push($(this).attr("id"), $(this).val());
                odpowiedzi.push(tmp);
            }).get();

            $('[name^="OdpZamknieta"]').map(function () {
                var tmp = Array();

                if ($(this).is(':checked')) {
                    tmp.push($(this).attr("id"), null);
                    odpowiedzi.push(tmp);
                }
            }).get();

            $.ajax({
                url: '@Url.Action("ZapiszAnkieteGosc", "WypelnienieAnkiety")',
                type: "POST",
                async: false,
                data: JSON.stringify({ "id": numerId, "odp": odpowiedzi }),
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                success: function (data, textStatus, jqXHR) {
                },
                error: function (jqXHR, textStatus, errorThrown) {
                }
            });

            window.location.href = BASE_URL + "WypelnienieAnkiety/Potwierdzenie";;
        }
    }
</script>
