﻿@model SystemAnkietPJWSTK.Models.Ankieta

@using SystemAnkietPJWSTK.Models;
@using SystemAnkietPJWSTK.Controllers;

@{
    List<Pytanie> formularz = new List<Pytanie>();
    formularz = (List<Pytanie>)@ViewData["forumlarz"];
}

@using (Html.BeginForm())
{

    if (formularz != null)
    {
        <h2 class="Ankieta_Id" id="@Model.IdAnkieta">@Model.Nazwa</h2>

        if (@Model.Opis != null)
        {
            <div class="form-show">
                <h5>
                    @(new HtmlString(HttpUtility.HtmlDecode(@Model.Opis)))
                </h5>
            </div>
        }

        foreach (Pytanie p in formularz)
        {
            <div class="form-show">
                @(new HtmlString(HttpUtility.HtmlDecode(p.Tresc)))
            </div>

            if (p.Typ == 1)
            {
                <div class="one-line-input">
                    <input type="text" id="@p.Id" class="k-textbox" name="TrescOdpOtwartej_@p.Id"
                           data-val="true" data-val-required="Odpowiedź jest wymagana" data-val-length-min="1"
                           data-valmsg-for="true" data-val-length="Odpowiedź nie może być dłuższa niż 1000 znaków" data-val-length-max="1000" />
                    <span class="field-validation-valid" data-valmsg-for="true" data-valmsg-replace="true"></span>
                </div>
            }
            else if (p.Typ == 2)
            {
                <div>
                    <textarea class="text-area-custom" id="@p.Id" name="TrescOdpOtwartej_@p.Id" cols="20" rows="2"
                              data-val="true" data-val-required="Odpowiedź jest wymagana" data-val-length-min="1"
                              data-valmsg-for="true" data-val-length="Odpowiedź nie może być dłuższa niż 1000 znaków" data-val-length-max="1000"></textarea>
                    <span class=".k-widget.k-tooltip-validation" data-valmsg-for="true" data-valmsg-replace="true"></span>
                </div>
            }
            else
            {
                foreach (PropOdpowiedz po in p.props)
                {
                    if (p.Typ == 3)
                    {
                        <div>
                            <input type="radio" id="@po.IdPole" name="OdpZamknieta_@p.Id" />
                            <label> @po.PropTresc</label>
                        </div>
                    }
                    else if (p.Typ == 4)
                    {
                        <div>
                            <input type="checkbox" id="@po.IdPole" name="OdpZamknieta_@po.IdPole" />
                            <label> @po.PropTresc</label>
                        </div>
                    }
                }
            }
        }

        <div class="form-show">
            @(Html.Kendo().Button()
                  .Name("saveButton")
                  .HtmlAttributes(new {type = "button"})
                  .Content("Zapisz")
                  .Events(e => e.Click("saveAnswers"))
                  )
        </div>
        if (!Model.CzyEdyt)
        {
            <div id="dialog-confirm" title="Empty the recycle bin?" style="display:none">
                <p>
                    <b>Zmiana odpowiedzi nie będzie możliwa.</b><br /><br /> Czy jesteś pewnien, że chesz zapisać swoje odpowiedzi?
                </p>
            </div>
        }
    }
}

<script>

    function saveAnswers(e) {
        e.preventDefault();
        var validator = $("form").kendoValidator().data("kendoValidator");


        if (validator.validate()) {

            var odpowiedzi = Array();

            var numerId = $('[class="Ankieta_Id"]').attr("id");


            $('[name^="TrescOdpOtwartej"]').map(function () {
                var tmp = Array();
                tmp.push($(this).attr("id"), $(this).val());
                odpowiedzi.push(tmp);
            }).get();

            $('[name^="OdpZamknieta"]').map(function () {
                var tmp = Array();

                if ($(this).is(':checked')) {
                    tmp.push($(this).attr("id"), null);
                    odpowiedzi.push(tmp);
                }
            }).get();
            if ($("#dialog-confirm").length > 0) {
                $("#dialog-confirm").dialog({
                    resizable: false,
                    modal: true,
                    title: "Uwaga!",
                    width: 400,
                    buttons: {
                        "Tak": function () {
                            $(this).dialog("close");
                            save();
                        },
                        "Nie": function () {
                            $(this).dialog("close");
                        }
                    }
                });
            } else {
                save();
            } 
        }

        function save() {
            $.ajax({
                url: '@Url.Action("ZapiszAnkieteGosc", "WypelnienieAnkiety")',
                type: "POST",
                async: false,
                data: JSON.stringify({ "id": numerId, "odp": odpowiedzi }),
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                success: function (data, textStatus, jqXHR) {
                },
                error: function (jqXHR, textStatus, errorThrown) {
                }
            });

            window.location.href = BASE_URL + "WypelnienieAnkiety/Potwierdzenie";
        }
    }
</script>
