﻿@using SystemAnkietPJWSTK.Models 

<h2>Kreator ankiety</h2>

<div class="top-nav">
    <h4 class="top-nav-elem-left">Respondenci</h4>
    @if (Session["ank"] != null)
    {
        @Html.ActionLink("Zapisz w roboczych", "SaveAnkieta", new { controller = "Ankieta", id = true }, new { @class = "k-button top-nav-elem-right save-as-robocza-link" })

    }
</div>
<hr />
<div id="ankietaRespondents">
    <div id="grid-wydzialy" class="form-group">
        @(Html.Kendo().Grid<SystemAnkietPJWSTK.Models.Wydzial>()
            .Name("WydzialGrid")
            .Columns(columns =>
            {
                columns.Bound(w => w.Nazwa).Title("Nazwa wydziału");
                columns.Command(command => command.Custom("Dodaj wydział").Click("addWydzial")).Width(200);
            })
            .Sortable()
            .Scrollable()
            .ClientDetailTemplateId("template")
            .HtmlAttributes(new { style = "height:500px;" })
            .DataSource(dataSource => dataSource
                .Ajax()
                .PageSize(10)
                .Read(read => read.Action("GetWydzialy", "Respondenci"))
            )
            .AutoBind(true)
        )
    </div>
    <div id="grid-studenci" class="form-group">
        @(Html.Kendo().Grid<SystemAnkietPJWSTK.Models.Osoba>()
            .Name("OsobyGrid")
            .Columns(columns =>
            {
                columns.Bound(o => o.KontoAD).Title("Konto AD");
                columns.Bound(o => o.Imie).Title("Imię");
                columns.Bound(o => o.Nazwisko).Title("Nazwisko");
                columns.Bound(o => o.Status).Title("Status");
                columns.Command(command => command.Custom("Dodaj osobę").Click("addOsoba")).Width(200);
            })
                        .Sortable()
                        .Scrollable()
                        .Filterable()
                        .HtmlAttributes(new { style = "height:550px;" })
                        .Pageable()
                        .DataSource(dataSource => dataSource
                            .Ajax()
                            .PageSize(10)
                            .Read(read => read.Action("GetOsoby", "Respondenci"))
                        )
        )
    </div>

    <div class="form-group">
        Podaj adres e-mail gościa: <input type="email" id="guest" name="guest" class="k-textbox" />
        @(Html.Kendo().Button()
        .Name("guestAddButton")
        .HtmlAttributes(new { type = "button" })
        .Content("+")
        .Events(ev => ev.Click("addGuest"))
        )
    </div>

    <div class="top-nav">
        <h4 class="top-nav-elem-left">Wybrani respondenci</h4>
        <hr />
    </div>

    <div id="grid-wybrani" class="form-group">
        @(Html.Kendo().Grid<SystemAnkietPJWSTK.Models.Wybrany>()
            .Name("WybraniGrid")
            .Columns(columns =>
            {
                columns.Bound(r => r.Typ).Title("Typ").Width(100);
                columns.Bound(r => r.Nazwa).Title("Nazwa respondenta");
                columns.Command(command => command.Custom("Usuń").Click("deleteWybrany")).Width(200);
            })
            .Sortable()
            .Scrollable()
            .Pageable()
            .Filterable()
            .HtmlAttributes(new { style = "height:500px;" })
            .DataSource(dataSource => dataSource
                .Ajax()
                .PageSize(10)
                .Read(read => read.Action("GetWybrani", "Respondenci"))
            )
        )
    </div>    <div class="ankieta-creator-bottom-nav">
        @if (Request.Url.AbsoluteUri.ToString().Contains("db-mssql"))
        {
            <button id="backBtn" onclick="window.location = '/inzAnkiety/Pytanie/NowePytanie';" class="left_float k-button prev">< Wstecz</button>
        }
        else
        {
            <button id="backBtn" onclick="window.location = '/Pytanie/NowePytanie';" class="left_float k-button prev">< Wstecz</button>
        }
       
        @(Html.Kendo().Button()
        .Name("textButton")
        .HtmlAttributes(new { type = "button", @class = "next" })
        .Content("Dalej >")
        .Events(ev => ev.Click("saveRespondents"))
        )
    </div>
</div>

<script id="template" type="text/kendo-tmpl">
    @(Html.Kendo().Grid<SystemAnkietPJWSTK.Models.Studia>()
            .Name("StudiaGrid_#=IdWydzial#")
            .Columns(columns =>
            {
                columns.Bound(r => r.Nazwa).Title("Nazwa studiów");
                columns.Command(command => command.Custom("Dodaj studia").Click("addStudia")).Width(200);
            })
            .DataSource(dataSource => dataSource
                .Ajax()
                .PageSize(10)
                .Read(read => read.Action("GetStudia", "Respondenci", new { idWydzial = "#=IdWydzial#" }))
            )
            .Pageable()
            .Sortable()
            .ClientDetailTemplateId("template1")
            .AutoBind(true)
            .ToClientTemplate()
    )
</script>
<script id="template1" type="text/kendo-tmpl">
    
@(Html.Kendo().Grid<SystemAnkietPJWSTK.Models.Semestr>()
            .Name("SemestrGrid_#=IdStudia#")
            .Columns(columns =>
            {
                columns.Bound(g => g.NrSemestru).Title("Numer semestru");
                columns.Command(command => command.Custom("Dodaj semestr").Click("addSemestr")).Width(200);
            })
            .DataSource(dataSource => dataSource
                .Ajax()
                .PageSize(10)
                .Read(read => read.Action("GetSemestry", "Respondenci", new { idStudia = "#=IdStudia#"}))
            )
            .Pageable()
            .Sortable()
            .ClientDetailTemplateId("template2")
            .AutoBind(true)
            .ToClientTemplate()
            )
</script>
<script id="template2" type="text/kendo-tmpl">
    @(Html.Kendo().Grid<SystemAnkietPJWSTK.Models.GrupaStudencka>()
            .Name("GrupaGrid_#=NrSemestru#_#=IdStudia#")
            .Columns(columns =>
            {
                columns.Bound(g => g.NrGrupy).Title("Numer grupy");
                columns.Command(command => command.Custom("Dodaj grupę").Click("addGrupa")).Width(200);
            })
            .DataSource(dataSource => dataSource
                .Ajax()
                .PageSize(10)
                        .Read(read => read.Action("GetGrupy", "Respondenci", new { nrSemestru = "#=NrSemestru#", idStudia = "#=IdStudia#"}))
            )
            .Pageable()
            .Sortable()
            .AutoBind(true)
            .ToClientTemplate()
    )

</script>
<script>
    function dataBound() {
        this.expandRow(this.tbody.find("tr.k-master-row").first());
    }

    function addWydzial(e) {
        e.preventDefault();

        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

        var raw = $('#WybraniGrid').data('kendoGrid').dataSource.data();

        var length = raw.length;

        var item, i;

        for (i = 0; i < length; i++) {

            item = raw[i];

            if (item.ID == dataItem.IdWydzial && item.Typ == "Wydział") {
                alert("Wybrany wydział znajduje się już na liście respondentów.");
                $('#WybraniGrid').data('kendoGrid').dataSource.remove(item);
            }
        }
        
        $('#WybraniGrid').data('kendoGrid').dataSource.add({
            ID: dataItem.IdWydzial,
            Nazwa: dataItem.Nazwa,
            Typ: "Wydział"
        });
    }

    function addOsoba(e) {
        e.preventDefault();

        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

        var raw = $('#WybraniGrid').data('kendoGrid').dataSource.data();

        var length = raw.length;

        var item, i;

        for (i = 0; i < length; i++) {

            item = raw[i];

            if (item.ID == dataItem.IdOsoba && item.Typ == "Osoba") {
                alert("Wybrana osoba znajduje się już na liście respondentów.");
                $('#WybraniGrid').data('kendoGrid').dataSource.remove(item);
            }
        }

        $('#WybraniGrid').data('kendoGrid').dataSource.add({
            ID: dataItem.IdOsoba,
            Nazwa: dataItem.Imie + " " + dataItem.Nazwisko,
            Typ: "Osoba"
        });
    }

    function addStudia(e) {
        e.preventDefault();

        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

        var raw = $('#WybraniGrid').data('kendoGrid').dataSource.data();

        var length = raw.length;

        var item, i;

        for (i = 0; i < length; i++) {

            item = raw[i];

            if (item.ID == dataItem.IdStudia && item.Typ == "Studia") {
                alert("Wybrane studia znajdują się już na liście respondentów.");
                $('#WybraniGrid').data('kendoGrid').dataSource.remove(item);
            }
        }

        $('#WybraniGrid').data('kendoGrid').dataSource.add({
            ID: dataItem.IdStudia,
            Nazwa: dataItem.Nazwa,
            Typ: "Studia"
        });
    }

    function addGrupa(e) {
        e.preventDefault();

        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

        var raw = $('#WybraniGrid').data('kendoGrid').dataSource.data();

        var length = raw.length;

        var item, i;

        for (i = 0; i < length; i++) {

            item = raw[i];

            if (item.ID == dataItem.IdGrupy && item.Typ == "Grupa") {
                alert("Wybrana grupa znajduje się już na liście respondentów.");
                $('#WybraniGrid').data('kendoGrid').dataSource.remove(item);
            }
        }

        $('#WybraniGrid').data('kendoGrid').dataSource.add({
            ID: dataItem.IdGrupy,
            Nazwa: dataItem.NrGrupy,
            Typ: "Grupa"
        });
    }

    function saveRespondents(e) {
        e.preventDefault();

        var dataSource = $('#WybraniGrid').data('kendoGrid').dataSource.data();

        if (JSON.stringify(dataSource) == "[]") {
            alert("Nie wybrałeś żadnych respondentów. Musisz wybrać przynajmniej jednego respondenta.");
            return false;
        }

        $.ajax({
            type: 'POST',
            url: '@Url.Action("Wybrani", "Respondenci")',
            data: JSON.stringify(dataSource),
            async: false,
            contentType: 'application/json; charset=utf-8',
            dataType: 'json'

        }).done(function (data) {
            if (data.result = "OK") {
            }
        }).fail(function (response) {
            if (response.status != 0) {
            }
        });

        var currentURL = $(location).attr("hostname");

        window.location.href = BASE_URL + "Ankieta/PresubmitPreview";
    }

    function deleteWybrany(e) {
        e.preventDefault();

        var grid = $("#WybraniGrid").data("kendoGrid");
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

        var dataSource = $('#WybraniGrid').data('kendoGrid').dataSource.data();

        dataSource.remove(dataItem);

        datasource.sync();
    }

    function addGuest(e) {
        e.preventDefault();

        var email = $('input[name="guest"]').val();

        var atpos = email.indexOf("@@");
        var dotpos = email.lastIndexOf(".");
        if (atpos < 1 || dotpos < atpos + 2 || dotpos + 2 >= email.length) {
            alert("Wpisany tekst nie jest adresem email! Spróbuj ponownie.");
            return false;
        }

        var raw = $('#WybraniGrid').data('kendoGrid').dataSource.data();

        var length = raw.length;

        var item, i;

        for (i = 0; i < length; i++) {

            item = raw[i];

            if (item.Nazwa == email && item.Typ == "Gość") {
                alert("Wybrany gość znajduje się już na liście respondentów.");
                $('#WybraniGrid').data('kendoGrid').dataSource.remove(item);
            }
        }

        $('#WybraniGrid').data('kendoGrid').dataSource.add({
            ID: 666,
            Nazwa: email,
            Typ: "Gość"
        });

        $("#guest").val("");
    }

    function addSemestr(e) {
        e.preventDefault()

        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

        var raw = $('#WybraniGrid').data('kendoGrid').dataSource.data();

        var length = raw.length;

        var item, i;

        for (i = 0; i < length; i++) {

            item = raw[i];

            if (item.ID == dataItem.NrSemestru && item.Typ == "Semestr") {
                alert("Wybrany semestr znajduje się już na liście respondentów.");
                $('#WybraniGrid').data('kendoGrid').dataSource.remove(item);
            }
        }

        $('#WybraniGrid').data('kendoGrid').dataSource.add({
            ID: dataItem.NrSemestru,
            Nazwa: dataItem.NrSemestru,
            ParentID: dataItem.IdStudia,
            Typ: "Semestr"
        });
    }
    
    function data(e) {
        console.log(e.attr("id"));
        e.preventDefault();
       
        return {
            idStudia: "ids",
            nrSemestru: "nr"
        }
    }

    var wybraniFromSession = null;

</script>

