﻿@model SystemAnkietPJWSTK.Models.Pytanie
@using SystemAnkietPJWSTK.Utils;

<h2>Kreator ankiety</h2>



<div class="top-nav">
    <h4 class="top-nav-elem-left">Formularz pytań</h4>
    @if (Session["ank"] != null)
    {
        @Html.ActionLink("Zapisz w roboczych", "SaveAnkieta", new { controller = "Ankieta", id = true }, new { @class = "k-button top-nav-elem-right save-as-robocza-link" })

    }
</div>
<hr />
<p>Wybierz odpowiedni typ pytania z listy i dodaj do ankiety:</p>
<select onchange="changeQstType($(this).val())" id="question-type-list" class="m-dropdown">
    <option value="simpleText">krótka odpowiedź tekstowa</option>
    <option value="fullText">długa odpowiedź tekstowa</option>
    <option value="singleAns">jednokrotnego wyboru</option>
    <option value="multiAns">wielokrotnego wyboru</option>
</select>
<button id="addNewQstBtn" class="k-button">Dodaj pytanie</button>
<div id="qstForm">
    <ul class="sortable" id="qstList"></ul>
</div>
<div class="bottom_navigation">
        @if (Session["pyt"] != null) {
            List<SystemAnkietPJWSTK.Models.Pytanie> pytania = (List<SystemAnkietPJWSTK.Models.Pytanie>)Session["pyt"];
            if (pytania.Count > 0)
            { 
                foreach (SystemAnkietPJWSTK.Models.Pytanie p in pytania)
                {
                    List<String> answers = new List<String>();
                    if (p.props.Count > 0)
                    {
                        foreach (SystemAnkietPJWSTK.Models.PropOdpowiedz prop in p.props)
                        {
                            answers.Add(prop.PropTresc);

                        }
                    }
                    System.Web.Script.Serialization.JavaScriptSerializer oSerializer =
                                new System.Web.Script.Serialization.JavaScriptSerializer();
                    string jsonAnswers = oSerializer.Serialize(answers);                                      
                    <script>
                        $(document).ready(function() {
                            var title = '@(new HtmlString(HttpUtility.HtmlDecode(p.Tresc)))';
                            var qstType = '@p.Typ';
                            var answers = '@(new HtmlString(HttpUtility.HtmlDecode(jsonAnswers)))';
                         
                            addQst(title, qstType, answers);
                        })
                       
                    
                    </script>
                }
                  <script>
                      $(document).ready(function() {
                          applyKendoEditor();
                      })
                    </script>
            }
        }
    <div class="ankieta-creator-bottom-nav">
        <button id="backBtn" onclick="window.location = 'Ankieta/Create';" class="left_float k-button prev">< Wstecz</button>
        <button id="submitButton" class="right_float k-button next">Dalej ></button>
    </div>
</div>

<style type="text/css">
    #qstList .sortable-handle {
        background: url("@SiteGlobal.BaseUrl/Content/Images/question_up_down.png") no-repeat top left;
    }
</style>
<script src="@Url.Content("~/Scripts/PytanieCreator/creator.js")"></script>
