﻿@model SystemAnkietPJWSTK.Models.Ankieta

<h2>Kretor ankiety</h2>


@using (Html.BeginForm("Create", "Ankieta", null, FormMethod.Post, new { id = "AnkietaBaseInfoForm" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal" id="ankietaBaseInfo">
        <div class="top-nav">
            <h4 class="top-nav-elem-left">Podstawowe ustawienia</h4>
            <a id="saveToRobocze" class="k-button top-nav-elem-right save-as-robocza-link">Zapisz w roboczych</a>
        </div>
        <hr />
        @Html.ValidationSummary(true)

        @Html.HiddenFor(model => model.IdAnkieta)
        
        <div class="form-group" style="display:none;">
            @Html.LabelFor(model => model.DataUtw, new { @class = "control-label col-md-2" })
            <div class="col-md-10" id="calendar">
                @Html.EditorFor(model => model.DataUtw)
                @Html.ValidationMessageFor(model => model.DataUtw)
            </div>
        </div>

        <div class="form-group k-datepicker-custom">
            @Html.LabelFor(model => model.DataRozp, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DataRozp)
                @Html.ValidationMessageFor(model => model.DataRozp)
            </div>
        </div>

        <div class="form-group k-datepicker-custom">
            @Html.LabelFor(model => model.DataZam, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DataZam)
                @Html.ValidationMessageFor(model => model.DataZam)
            </div>
        </div>

        <div class="form-group one-line-input">
            @Html.LabelFor(model => model.Nazwa, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nazwa, new { style = "width: 500px" })
                @Html.ValidationMessageFor(model => model.Nazwa)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Opis, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @(Html.Kendo().EditorFor(model => model.Opis))
                @Html.ValidationMessageFor(model => model.Opis)
            </div>

        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TrescMaila, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @(Html.Kendo().EditorFor(model => model.TrescMaila))
                @Html.ValidationMessageFor(model => model.TrescMaila)
            </div>
        </div>

        <div class="form-group k-datepicker-custom">
            @Html.EditorFor(model => model.CzyPrzypomnienie)
            @Html.LabelFor(model => model.CzyPrzypomnienie, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CzasPrzyp)
                @Html.ValidationMessageFor(model => model.CzasPrzyp)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                @Html.EditorFor(model => model.CzyAnonim)
                @Html.LabelFor(model => model.CzyAnonim, new { @class = "control-label col-md-2" })
                @Html.ValidationMessageFor(model => model.CzyAnonim)
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.CzyEdyt)
                @Html.LabelFor(model => model.CzyEdyt, new { @class = "control-label col-md-2" })
                @Html.ValidationMessageFor(model => model.CzyEdyt)
            </div>
        </div>
            <div class="ankieta-creator-bottom-nav">
                <input type="submit" value="Dalej >" class="btn btn-default k-button next" />
            </div>
    </div>
}

<script>
    $(function () {
        $("form").kendoValidator({
            rules: {
                greaterdate: function (input) {
                    if (input.is("[data-val-greaterdate]") && input.val() != "") {
                        var date = kendo.parseDate(input.val()),
                            earlierDate = kendo.parseDate($("[name='" + input.attr("data-val-greaterdate-earlierdate") + "']").val());
                        return !date || !earlierDate || earlierDate.getTime() < date.getTime();
                    }

                    return true;
                }
            },
            messages: {
                greaterdate: function (input) {
                    return input.attr("data-val-greaterdate");
                }
            }
        });
    });
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function() {

            $("#DataRozp").data('kendoDateTimePicker').setOptions({ interval: 60 });
            $("#DataZam").data('kendoDateTimePicker').setOptions({ interval: 60 });
            $("#CzasPrzyp").data('kendoDateTimePicker').setOptions({ interval: 60 });

            $("#DataRozp").prop("readonly", true);
            $("#DataZam").prop("readonly", true);
            $("#CzasPrzyp").prop("readonly", true);

            $("#CzyPrzypomnienie").on("click", function() {
                if ($(this).is(":checked")) {
                    $("#CzasPrzyp").data('kendoDateTimePicker').enable(true);
                    $("#CzasPrzyp").prop("readonly", true);
                } else {
                    $("#CzasPrzyp").data('kendoDateTimePicker').enable(false);
                }
            });


        });
    </script>
    @if (Model != null && Model.CzyPrzypomnienie == true)
    {
        <script>
            $(document).ready(function() {
                $("#CzasPrzyp").data('kendoDateTimePicker').enable(true);
            });
        </script>
    }
    else
    {
        <script>
            $(document).ready(function() {
                $("#CzasPrzyp").data('kendoDateTimePicker').enable(false);
            });
        </script>
    }

    <script type="text/javascript">


        $('#AnkietaBaseInfoForm').kendoValidator({
            rules: {
                dataRozpRule: function(input) {
                    if (input.is("[name=DataRozp]")) {
                        var today = new Date(); // now
                        var date = kendo.parseDate($("#DataRozp").data('kendoDateTimePicker').value());
                        today /= 60000; // to min
                        date /= 60000; // to min
                        return (date >= today);
                    } else {
                        return true;
                    }
                },

                dataZamRule: function(input) {
                    if (input.is("[name=DataZam]")) {
                        var dataRozp = kendo.parseDate($("#DataRozp").data('kendoDateTimePicker').value());
                        var dataZam = kendo.parseDate($("#DataZam").data('kendoDateTimePicker').value());
                        dataRozp /= 60000; // to min
                        dataZam /= 60000; // to min
                        return (dataZam > dataRozp);
                    } else
                        return true;
                },

                dataPrzypRule: function(input) {
                    if (input.is("[name=CzasPrzyp]") && $("#CzyPrzypomnienie").is(":checked")) {
                        var dataRozp = kendo.parseDate($("#DataRozp").data('kendoDateTimePicker').value());
                        var dataZam = kendo.parseDate($("#DataZam").data('kendoDateTimePicker').value());
                        var dataPrzyp = kendo.parseDate($("#CzasPrzyp").data('kendoDateTimePicker').value());
                        dataRozp /= 60000; // to min
                        dataZam /= 60000; // to min
                        dataPrzyp /= 60000; // to min
                        return (dataPrzyp < dataZam && dataPrzyp > dataRozp);
                    } else {
                        return true;
                    }
                }

            },
            messages: {
                dataRozpRule: "Data rozpoczęcia musi być późniejsza niż aktualna!",
                dataZamRule: "Data zamknięcia musi być późniejsza niz data rozpoczęcia!",
                dataPrzypRule: "Przypomnienie musi być ustawione na czas w trakcie trwania ankiety!"
            }
        });

        $(document).ready(function() {
            $("#saveToRobocze").on("click", function() {
                var form = $("#AnkietaBaseInfoForm");
                form.attr("action", BASE_URL + "Ankieta/SaveRobocza");
                form.submit();
            });
        });

    </script>


}
 