﻿@model IEnumerable<SystemAnkietPJWSTK.Models.Ankieta>

@{
    ViewBag.Title = "Ankiety do wypełnienia";
}

<h2>Ankiety do wypełnienia</h2>

@if (Model != null)
{
        @(Html.Kendo().Grid<SystemAnkietPJWSTK.Models.Ankieta>()
        .Name("grid")
        .Columns(columns =>
        {
            columns.Bound(p => p.Nazwa).Template(@<text></text>).ClientTemplate(
                        "<a title='Wypełnij' class='k-link' href='WypelnienieAnkiety/WyswietlAnkiete/#= IdAnkieta #'>#= Nazwa #</a>");
            columns.Bound(p => p.DataZam).Format("{0:dd.MM.yyyy}").Title("Zakończenie").HtmlAttributes(new { title = "#= formatDate(DataZam) #" }).Width(180);
            columns.Template(@<text></text>).ClientTemplate(
                        "<a title='Wypełnij' class='k-button k-button-icon' href='WypelnienieAnkiety/WyswietlAnkiete/#= IdAnkieta #'><span class='k-icon k-i-pencil'></span></a>").Width(100);
        })
            .Pageable()
            .HtmlAttributes(new { style = "height:550px; width:1165px;" })
            .Sortable()
            .Scrollable()
            .Filterable()
            .DataSource(dataSource => dataSource
                .Ajax()
                .PageSize(12)
                .Read(read => read.Action("GetDoWypelnienia", "Ankieta"))
                .ServerOperation(false)
             )
        )
}

else
{
    <p>Brak ankiet do wypełnienia</p>
}

<script>
    function wypelnijAnkiete(e) {
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        window.location.href = BASE_URL + "WypelnienieAnkiety/WyswietlAnkiete/" + dataItem.IdAnkieta;
    }

    function edytujAnkiete(e) {
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        window.location.href = BASE_URL + "WypelnienieAnkiety/EdytujAnkiete/" + dataItem.IdAnkieta;
    }

    function formatDate(OrderDate) {
        var formatedOrderDate = kendo.format("{0:dd.MM.yyyy HH:mm}", OrderDate);
        return formatedOrderDate;
    }

</script>

