﻿@model IEnumerable<SystemAnkietPJWSTK.Models.Ankieta>

@{
    ViewBag.Title = "Twoje ankiety";
}

<h2>Twoje ankiety</h2>

@if (Model != null)
{
  
        @(Html.Kendo().Grid<SystemAnkietPJWSTK.Models.Ankieta>()
        .Name("grid")
        .Columns(columns =>
        {
            columns.Template(@<text></text>).ClientTemplate(
                                "#if(Status=='Utworzona'){#<a class='k-button k-start' title='Rozpocznij' href='Ankieta/StartStop/#= IdAnkieta #/?start=true'><span class='k-icon k-start'></span></a>#}" +
                                "else if(Status == 'Uruchomiona'){#<a class='k-button k-stop' title='Zakończ' href='Ankieta/StartStop/#= IdAnkieta #/?start=false'><span class='k-icon k-stop'></span></a>#}" +
                                "else{#<span class='k-icon k-cancel k-icon-no-button'></span>#}#").Width(52);
            columns.Template(@<text></text>).ClientTemplate("<a title='Statystyki' href='Raport/Index/#= IdAnkieta #'>#= Nazwa #</a>").Width(300);
            columns.Bound(p => p.DataUtw).Format("{0:dd.MM.yyyy}").Title("Utworzenie").HtmlAttributes(new { title = "#= formatDate(DataUtw) #" }).Width(140);
            columns.Bound(p => p.DataRozp).Format("{0:dd.MM.yyyy}").Title("Rozpoczęcie").HtmlAttributes(new { title = "#= formatDate(DataRozp) #" }).Width(140);
            columns.Bound(p => p.DataZam).Format("{0:dd.MM.yyyy}").Title("Zakończenie").HtmlAttributes(new { title = "#= formatDate(DataZam) #" }).Width(140);
            columns.Template(@<text></text>).ClientTemplate("<a title='Statystyki' href='Raport/Index/#= IdAnkieta #'><div class='progress' style='width: 100px; height: 15px;'></div></a>")
                .Title("Statystyki").Width(180);
            columns.Template(@<text></text>).ClientTemplate(
                        "<a class='k-button k-button-icon' title='Podgląd' href='Ankieta/ShowPreview/#= IdAnkieta #'><span class='k-icon k-i-search'></span></a>" +
                        "#if(Status=='Utworzona'){#<a title='Edytuj' class='k-button k-button-icon' href='Ankieta/Edit/#= IdAnkieta #'><span class='k-icon k-i-pencil'></span></a>#}" +
                        "else{#<button class='k-button k-button-icon k-state-disabled'><span class='k-icon k-i-pencil'></button>#}#" +
                        "<a class='k-button k-button-icon k-refresh' title='Wykorzystaj ponownie' href='Ankieta/CreateFromExisted/#= IdAnkieta #'><span class='k-icon k-i-refresh'></span></a>").Width(115);
                        // dodano /inzAnkiety/
        })
        .Pageable()
        .HtmlAttributes(new { style = "height:550px;" })
        .Sortable()
        .Scrollable()
        .Filterable()
        .DataSource(dataSource => dataSource
            .Ajax()
            .PageSize(12)
            .Read(read => read.Action("GetAnkiety", "Ankieta"))
            .Model(model => model.Id(p => p.IdAnkieta))
            .Update(update => update.Action("UpdateAnkiety", "Ankieta"))
            .ServerOperation(false)
            .Sort(sort => sort.Add("DataUtw").Descending())
         ).Events(events => events.DataBound (
            @<text>
                function(e){
                var grid = this;

                $(".progress").each(function(){
                var row = $(this).closest("tr");
                var model = grid.dataItem(row);

                $(this).kendoProgressBar({
                value: model.IloscOdpowiedzi,
                max: model.IloscRespondentow
                });

                var lbl = $(this).find(".k-progress-status");
                lbl.text(model.IloscOdpowiedzi +"/"+ model.IloscRespondentow);

                var percent = model.IloscOdpowiedzi / model.IloscRespondentow * 100;
                var bar = $(this).find(".k-state-selected");
              
                if(percent > 90) {
                bar.css('backgroundColor', 'green');
                } else if(percent > 60) {
                bar.css('backgroundColor', 'yellow');
                } else if(percent > 30) {
                bar.css('backgroundColor', 'orange');
                } else {
                bar.css('backgroundColor', '#e90e0e');
                }

                if(percent > 0 && percent < 1)
                      bar.css('width', 1);

                });
                }
            </text>
       ))

        )
}
else
{
    <p>Brak zapisanych ankiet</p>
}

<script id="ankieta-row-template" type="text/x-kendo-template">
    <div><b>Nazwa:</b> #: Nazwa #</div>
    <div><b>Data utworzenia:</b> #: DataUtw #</div>
    <div><b>Data rozpoczęcia:</b> #: DataRozp #</div>
    <div><b>Data zamknięcia:</b> #: DataZam #</div>
</script>

<script>
    function formatDate(OrderDate) {
        var formatedOrderDate = kendo.format("{0:dd.MM.yyyy HH:mm}", OrderDate);

        return formatedOrderDate;
    }
</script>


