﻿@model SystemAnkietPJWSTK.Models.Ankieta
@using SystemAnkietPJWSTK.Models;
@using SystemAnkietPJWSTK.Controllers;
@using SystemAnkietPJWSTK.Utils;

@{  
    List<Pytanie> pytania = new List<Pytanie>();
    pytania = (List<Pytanie>)Session["pyt"];

    List<Wybrany> wybrani = new List<Wybrany>();
    wybrani = (List<Wybrany>)Session["wybrani"]; 
    
    var ankieta = (Ankieta) Session["ank"];
    var action = ViewContext.RouteData.GetRequiredString("action");
}

<h2>Kreator ankiety</h2>

<div class="top-nav">
    <h4 class="top-nav-elem-left">Podsumowanie</h4>
    @if (Session["ank"] != null)
    {
        @Html.ActionLink("Zapisz w roboczych", "SaveAnkieta", new { controller = "Ankieta", id = true }, new { @class = "k-button top-nav-elem-right save-as-robocza-link" })

    }
</div>
<hr />

    @if (ankieta != null)
{

    String czasPrzypStr = " - ";
    if (ankieta.CzasPrzyp.HasValue) {
        DateTime tmp = (DateTime)ankieta.CzasPrzyp;
        czasPrzypStr = tmp.ToString("dd.MM.yyyy HH:mm");
    }
        
    <ul class="nice-list" id="ankietaPresubmitList">
        <li id="presubmit_main_data">
            <div class="presubmit-bar k-button">
                <p>Podstawowe ustawienia</p>
            </div>
            <div class="presubmit-content-box always-visible">
                <table class="nice-table">
                    <tr>
                        <td class="left">Nazwa:</td>
                        <td class="right">@ankieta.Nazwa</td>
                    </tr>
                    <tr>
                        <td class="left">Data rozpoczęcia:</td>
                        <td class="right">@ankieta.DataRozp.ToString("dd.MM.yyyy HH:mm")</td>
                    </tr>
                    <tr>
                        <td class="left">Data zamknięcia:</td>
                        <td class="right">@ankieta.DataZam.ToString("dd.MM.yyyy HH:mm")</td>
                    </tr>
                    <tr>
                        <td class="left">Data przypomnienia:</td>
                        <td class="right">@czasPrzypStr</td>
                    </tr>
                    <tr>
                        <td class="left">Opis:</td>
                        <td class="right">@(new HtmlString(HttpUtility.HtmlDecode(ankieta.Opis)))</td>
                    </tr>
                    <tr>
                        <td class="left">Treść maila:</td>
                        <td class="right">@(new HtmlString(HttpUtility.HtmlDecode(ankieta.TrescMaila)))</td>
                    </tr>
                    <tr>
                        <td class="left">Anonimowa:</td>
                        <td class="right">
                            @if (ankieta.CzyAnonim)
                            {
                                <span>Tak</span>
                            }
                            else
                            {
                                <span>Nie</span>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td class="left">Edytowalna:</td>
                        <td class="right">
                            @if (ankieta.CzyEdyt)
                            {
                                <span>Tak</span>
                            }
                            else
                            {
                                <span>Nie</span>
                            }
                        </td>
                    </tr>
                </table>
            </div>
        </li>
        <li id="presubmit_questions">
            <div class="presubmit-bar k-button togglable">
                <p><span class="k-icon k-i-arrow-s"></span>Formularz</p>
            </div>
            <div class="presubmit-content-box">
                @if (pytania != null && pytania.Count > 0)
{
    <ul class="nice-list presubmit-qst-list">
        @foreach (Pytanie p in pytania)
        {
            <li>
                <p class="qst-title">@(new HtmlString(HttpUtility.HtmlDecode(p.Tresc)))</p>
                @switch (p.Typ)
                {
                    case 1:
                        <input type="text" disabled="disabled" class="one-line-response k-textbox" />
                    break;
                    
                    case 2:
                        <textarea class="fulltext-response k-textbox" disabled="disabled"></textarea>
                    break;
                    
                    case 3:
                    <div class="qst-answers">
                    @foreach (PropOdpowiedz prop in p.props)
                    {
                        <span class="answer">
                            <input type="radio" disabled="disabled" /><span>@prop.PropTresc</span>
                        </span>
                    }
                    </div>
                    break;    
                    
                    case 4:
                    <div class="qst-answers">
                    @foreach (PropOdpowiedz prop in p.props)
                    {
                        <span class="answer">
                            <input type="checkbox" disabled="disabled" /><span>@prop.PropTresc</span>
                        </span>
                    }
                    </div>
                    break;    

                }
            </li>
        }
    </ul>
}
            </div>
        </li>
        <li id="presubmit_respondents">
            <div class="presubmit-bar k-button togglable">
                <p><span class="k-icon k-i-arrow-s"></span>Respondenci</p>
            </div>
            <div class="presubmit-content-box">
                <table class="nice-border-table" id="presubmitRespondentsGrid">
                    <tr>
                        <th>Typ</th>
                        <th>Respondent</th>
                    </tr>
                    @if (wybrani != null && wybrani.Count > 0) { 
                        foreach (Wybrany wyb in wybrani)
                        {
                            <tr>
                                <td>@wyb.Typ</td>
                                <td>@wyb.Nazwa</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr><td>Brak respondentow</td></tr>
                    }
                </table>
            </div>

        </li>
    </ul>
    }
    <div class="ankieta-creator-bottom-nav">
            <button id="backBtn" onclick="window.location = '@SiteGlobal.BaseUrl/Respondenci';" class="left_float k-button prev">< Wstecz</button>
        @{
        if (action != "SaveAnkieta") {
            @Html.ActionLink("Zapisz ankietę", "SaveAnkieta", "Ankieta", new { @class = "btn btn-default k-button next" })
        }
        }
    </div>
  
    <script>
        $("#presubmitRespondentsGrid").kendoGrid({
            height: 300,
            sortable: true
        });


        function togglePresubmitBox(box) {
            box.slideToggle();
            if (box.css('display') == 'none') {
                box.parent().find('.k-icon').removeClass('k-i-arrow-n').addClass('k-i-arrow-s');
            } else
                box.find('.k-icon').removeClass('k-i-arrow-s').addClass('k-i-arrow-n');

        }

        $(".presubmit-bar").on("click", function () {
            if($(this).hasClass('togglable'))
                togglePresubmitBox($(this).parent().find(".presubmit-content-box"));
        });

    </script>