﻿@model IEnumerable<SystemAnkietPJWSTK.Models.Ankieta>

@{
    ViewBag.Title = "Twoje ankiety robocze";
}

<h2>Twoje ankiety robocze</h2>

@if (Model != null)
{
    @(Html.Kendo().Grid<SystemAnkietPJWSTK.Models.Ankieta>()
        .Name("grid")
        .Columns(columns =>
        {
            columns.Bound(p => p.Nazwa).Width(300);
            columns.Bound(p => p.DataUtw).Format("{0:dd.MM.yyyy}").Title("Utworzenie").HtmlAttributes(new { title = "#= formatDate(DataUtw) #" }).Width(140);
            columns.Template(@<text></text>).ClientTemplate(
                        "<a class='k-button k-button-icon' href='Ankieta/Edit/#= IdAnkieta #' title='Edytuj'><span class='k-icon k-i-pencil'></span></a>").Width(115);
            // dodano /inzAnkiety/
        })
        .Pageable()
        .HtmlAttributes(new { style = "height:550px;" })
        .Sortable()
        .Scrollable()
        .Filterable()
        .DataSource(dataSource => dataSource
            .Ajax()
            .PageSize(12)
            .Read(read => read.Action("GetRobocze", "Ankieta"))
            .Model(model => model.Id(p => p.IdAnkieta))
            .Update(update => update.Action("UpdateAnkiety", "Ankieta"))
            .ServerOperation(false)
         )
    )

}
else
{
    <p>Brak zapisanych ankiet</p>
}

<script id="ankieta-row-template" type="text/x-kendo-template">
    <div><b>Nazwa:</b> #: Nazwa #</div>
    <div><b>Data utworzenia:</b> #: DataUtw #</div>
    <div><b>Data rozpoczęcia:</b> #: DataRozp #</div>
    <div><b>Data zamknięcia:</b> #: DataZam #</div>
</script>

<script>
    function formatDate(OrderDate) {
        var formatedOrderDate = kendo.format("{0:dd.MM.yyyy HH:mm}", OrderDate);

        return formatedOrderDate;
    }
</script>

