﻿@model SystemAnkietPJWSTK.Models.Ankieta

@using SystemAnkietPJWSTK.Models;
@using SystemAnkietPJWSTK.Controllers;
@using SystemAnkietPJWSTK.Utils;

@{
    List<Pytanie> formularz = new List<Pytanie>();
    formularz = (List<Pytanie>)@ViewData["forumlarz"];
}
<div id="ankietaPreviewBox">
    @if ((bool)ViewData["notPermitted"])
    {
        <p>Nie masz uprawnień do podglądu tej ankiety!</p>
    }
    else
    {
        using (Html.BeginForm())
        {

            if (formularz != null)
            {
                <h2 class="Ankieta_Id" id="@Model.IdAnkieta">@Model.Nazwa</h2>

                if (@Model.Opis != null)
                {
                    <div class="form-show">
                        <h5>
                            @(new HtmlString(HttpUtility.HtmlDecode(@Model.Opis)))
                        </h5>
                    </div>
                }

                foreach (Pytanie p in formularz)
                {
                    <div class="form-show">
                        @(new HtmlString(HttpUtility.HtmlDecode(p.Tresc)))
                    </div>

                    if (p.Typ == 1)
                    {
                        <div class="one-line-input">
                            <input type="text" id="@p.Id" class="k-textbox" name="TrescOdpOtwartej_@p.Id"
                                   data-val="true" data-val-required="Odpowiedź jest wymagana" data-val-length-min="1"
                                   data-valmsg-for="true" data-val-length="Odpowiedź nie może być dłuższa niż 1000 znaków" data-val-length-max="1000" />
                            <span class="field-validation-valid" data-valmsg-for="true" data-valmsg-replace="true"></span>
                        </div>
                    }
                    else if (p.Typ == 2)
                    {
                        <div>
                            <textarea class="text-area-custom" id="@p.Id" name="TrescOdpOtwartej_@p.Id" cols="20" rows="2"
                                      data-val="true" data-val-required="Odpowiedź jest wymagana" data-val-length-min="1"
                                      data-valmsg-for="true" data-val-length="Odpowiedź nie może być dłuższa niż 1000 znaków" data-val-length-max="1000"></textarea>
                            <span class=".k-widget.k-tooltip-validation" data-valmsg-for="true" data-valmsg-replace="true"></span>
                        </div>
                    }
                    else
                    {
                        foreach (PropOdpowiedz po in p.props)
                        {
                            if (p.Typ == 3)
                            {
                                <div>
                                    <input type="radio" id="@po.IdPole" name="OdpZamknieta_@p.Id" />
                                    <label> @po.PropTresc</label>
                                </div>
                            }
                            else if (p.Typ == 4)
                            {
                                <div>
                                    <input type="checkbox" id="@po.IdPole" name="OdpZamknieta_@po.IdPole" />
                                    <label> @po.PropTresc</label>
                                </div>
                            }
                        }
                    }
                }
            }
        }
    }
</div>
<div class="nav">
    <a href="@SiteGlobal.BaseUrl/Ankieta" class="left k-button">Wróć</a>
</div>
