﻿@using SystemAnkietPJWSTK.Utils;
@using SystemAnkietPJWSTK.Models;

@{
    Login log = (Login)Session["loggedUser"];
}


<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>System Ankiet PJATK</title>
    <link href="@Url.Content("~/Content/style.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/kendo/2014.2.903/kendo.common.min.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/kendo/2014.2.903/kendo.dataviz.min.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/kendo/2014.2.903/kendo.default.min.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/kendo/2014.2.903/kendo.dataviz.default.min.css")" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
        <script src="@Url.Content("~/Scripts/kendo/2014.2.903/jquery.min.js")"></script>
        <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
	<script src="@Url.Content("~/Scripts/kendo/2014.2.903/kendo.all.min.js")"></script>
	<script src="@Url.Content("~/Scripts/kendo/2014.2.903/kendo.aspnetmvc.min.js")"></script>
	<script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>
    <script src="@Url.Content("~/Scripts/general.js")"></script>
    <script type="text/javascript">
        var BASE_URL = '@SiteGlobal.BaseUrl';
    </script>   
        <base href="@SiteGlobal.BaseUrl" />
    </head>
    <body>

        <script src="@Url.Content("~/Scripts/kendo/cultures/kendo.culture.pl-PL.js")"></script>
        <script type="text/javascript">
            kendo.culture("pl-PL");
        </script>


            @if (Session["top_alert"] != null) {
                TopAlert alert = (TopAlert)Session["top_alert"];
                <script>
                    $(document).ready(function () {
                        show_top_alert('@alert.positivie', '@alert.text');
                    });
                </script>
                Session["top_alert"] = null;
            }
        <div class="main-site-box">
          
            <div class="topper">
                <div class="topper-left"></div>
                <div class="topper-logo-pjwstk"></div>
                <div class="topper-right">
                    @Resources.lang_pl.topper_system_name
                </div>
            </div>

            @if (Session["logged"] != null && (bool)Session["logged"])
            {
                if (log.tworca)
                {
                    <div class="menu-box">
                    <div class="menu-box-top">
                        <img src="@Url.Content("~/Content/Images/logo_pjatk.png")" >
                    </div>
                    <div class="menu-box-middle">
                        <div class="menu-box-user-box">
                            <p class="menu-box-title">@Resources.lang_pl.menu_title_user</p>
                            <p class="menu-box-username">Użytkownik: @log.userID</p>
                        </div>
                        <div class="menu-items-box">
                            <p class="menu-box-title">@Resources.lang_pl.menu_title_items</p>
                            <ul class="menu-items-list simple-list">
                                <li class="menu-item">
                                    @Html.ActionLink(@Resources.lang_pl.menu_ankiety, "DoWypelnienia", "Ankieta", null, new { @id = "menu_ankiety" })
                                </li>
                                <li class="menu-item">
                                    @Html.ActionLink(@Resources.lang_pl.menu_new_query, "Create", "Ankieta", new { id = true }, new { @id = "menu_new_query" })
                                </li>
                                <li class="menu-item">
                                    @Html.ActionLink(@Resources.lang_pl.menu_moje, "Index", "Ankieta", null, new { @id = "menu_moje" })
                                </li>
                                <li class="menu-item">
                                    @Html.ActionLink(@Resources.lang_pl.menu_drafts, "Robocze", "Ankieta", null, new { @id = "menu_drafts" })
                                </li>
                            </ul>
                        </div>
                        <div class="menu-box-logout-box">
                            <p>@Html.ActionLink(@Resources.lang_pl.logout, "Logout", "Login")</p>
                        </div>
                    </div>
                </div>
                }
                else
                {
                    <div class="menu-box">
                    <div class="menu-box-top">
                        <img src="@Url.Content("~/Content/Images/logo_pjwstk.png")" >
                    </div>
                    <div class="menu-box-middle">
                        <div class="menu-box-user-box">
                            <p class="menu-box-title">@Resources.lang_pl.menu_title_user</p>
                            <p class="menu-box-username">Użytkownik: @log.userID</p>
                        </div>
                        <div class="menu-items-box">
                            <p class="menu-box-title">@Resources.lang_pl.menu_title_items</p>
                            <ul class="menu-items-list simple-list">
                                <li class="menu-item">
                                    @Html.ActionLink(@Resources.lang_pl.menu_ankiety, "DoWypelnienia", "Ankieta", null, new { @id = "menu_ankiety" })
                                </li>
                            </ul>
                        </div>
                        <div class="menu-box-logout-box">
                            <p>@Html.ActionLink(@Resources.lang_pl.logout, "Logout", "Login")</p>
                        </div>
                    </div>
                </div>
                }
            }
       
            <div class="middle-box">
                <div class="left-column">
                </div>
                <div class="container body-content">
                    @RenderBody()
                </div>
                <div class="wrapper"></div>
            </div>
        </div>
        <footer>
            <p>&copy; @DateTime.Now.Year - @Resources.lang_pl.footer_system_name</p>
        </footer>

        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
</html>
