﻿@using SystemAnkietPJWSTK.Utils;
@using SystemAnkietPJWSTK.Models;

@{
    Login log = (Login)Session["loggedUser"];
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - System Ankiet PJWSTK</title>
    <link href="@Url.Content("~/Content/style.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2014.2.903/kendo.common.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2014.2.903/kendo.dataviz.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2014.2.903/kendo.default.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2014.2.903/kendo.dataviz.default.min.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/kendo/2014.2.903/jquery.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2014.2.903/kendo.all.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2014.2.903/kendo.aspnetmvc.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>
    <script src="@Url.Content("~/Scripts/general.js")"></script>
    @{
        var urlHelper = new UrlHelper(Html.ViewContext.RequestContext);
        var baseurl = urlHelper.Content("~");
        <base href="@baseurl" />
    }
</head>
<body>
    <script src="@Url.Content("~/Scripts/kendo/cultures/kendo.culture.pl-PL.js")"></script>
    <script type="text/javascript">
        kendo.culture("pl-PL");
    </script>


    @if (Session["top_alert"] != null)
    {
        TopAlert alert = (TopAlert)Session["top_alert"];
        <script>
            $(document).ready(function () {
                show_top_alert('@alert.positivie', '@alert.text');
            });
        </script>
        Session["top_alert"] = null;
    }
    <div class="main-site-box">

        <div class="topper">
            <div class="topper-left"></div>
            <div class="topper-right" style="width:91%; text-align:center">
                @Resources.lang_pl.topper_system_name
            </div>
        </div>


        <div class="middle-box">
            <div class="left-column">
            </div>
            <div class="container body-content">
                @RenderBody()
            </div>
            <div class="wrapper"></div>
        </div>
    </div>
    <footer>
        <p>&copy; @DateTime.Now.Year - @Resources.lang_pl.footer_system_name</p>
    </footer>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
