﻿

<div align="right" style="margin-top: 5px; margin-bottom: 5px;">
    <button onclick="download()" class="k-button">Eksportuj do pliku</button>
</div>

@(Html.Kendo().TabStrip()
          .Name("tabstrip")
          .Items(tabstrip =>
          {
              tabstrip.Add().Text("Respondenci")
                  .Selected(true)
                  .Content(@Html.Partial("RaportByRespondent").ToHtmlString());
              tabstrip.Add().Text("Pytania")
                  .Content(@Html.Partial("RaportByPytanie").ToHtmlString());
          })
)

<div class="ankieta-creator-bottom-nav">
    <button id="backBtn" onclick="window.location = BASE_URL + 'Ankieta/Index';" class="left_float k-button prev">< Wstecz</button>
</div>

<script type="text/javascript">
    function togglePresubmitBox(box) {
        box.slideToggle();
        if (box.css('display') == 'none') {
            box.parent().find('.k-icon').removeClass('k-i-arrow-n').addClass('k-i-arrow-s');
        } else
            box.find('.k-icon').removeClass('k-i-arrow-s').addClass('k-i-arrow-n');

    }

    function download() {

        var pageURL = $(location).attr('href');
        
        var split = {};
        var split = pageURL.split('/');

        var index = split[split.length-1];

        window.location = BASE_URL + 'Raport/Download/' + index;
 
    }

    $("body").on("click", ".presubmit-bar", function () {
        if ($(this).hasClass('togglable'))
            togglePresubmitBox($(this).parent().find(".presubmit-content-box"));
    });
</script>
