﻿@model SystemAnkietPJWSTK.Models.Ankieta

@using SystemAnkietPJWSTK.Models;
@using SystemAnkietPJWSTK.Controllers;

@{
    List<Pytanie> formularz = new List<Pytanie>();
    formularz = (List<Pytanie>)@ViewData["forumlarz"];
}

@{
    List<Odpowiedz> odpowiedzi = new List<Odpowiedz>();
    odpowiedzi = (List<Odpowiedz>)@ViewData["odpowiedzi"];
    System.Diagnostics.Debug.WriteLine("Odpowiedzi count: " + odpowiedzi.Count);
}
@{
    if (formularz != null)
    {
        <ul class="nice-list" id="ankietaPresubmitList" style="padding-left:0;">
            @foreach (Pytanie p in formularz)
            {

                Odpowiedz odp = null;

                foreach (Odpowiedz o in odpowiedzi)
                {
                    if (o.IdPytanie == p.Id)
                    {
                        odp = o;
                    }
                }

                <li id="presubmit_questions">
                    <div class="presubmit-bar k-button togglable">
                        <p><span class="k-icon k-i-arrow-s"></span>@(new HtmlString(HttpUtility.HtmlDecode(p.Tresc)))</p>
                    </div>
                    <div class="presubmit-content-box always-visible">
                        <ul class="nice-list presubmit-qst-list">
                            <div class="qst-answer">
                                @if (p.Typ == 1 || p.Typ == 2)
                                {
                                    <span class="answer">
                                        @odp.TrescOdpOtwartej
                                    </span>
                                }
                                else
                                {
                                    foreach (PropOdpowiedz po in p.props)
                                    {
                                        IEnumerable<bool> tmp = odpowiedzi.Select(o => o.IdPole == po.IdPole);

                                        if (p.Typ == 3)
                                        {

                                            if (tmp.Contains(true))
                                            {
                                                <div>
                                                    <input type="radio" id="@po.IdPole" name="OdpZamknieta_@p.Id" checked="checked" disabled="disabled" />
                                                    <label> @po.PropTresc</label>
                                                </div>
                                            }
                                            else
                                            {
                                                <div>
                                                    <input type="radio" id="@po.IdPole" name="OdpZamknieta_@p.Id" disabled="disabled" />
                                                    <label> @po.PropTresc</label>
                                                </div>
                                            }
                                        }
                                        else if (p.Typ == 4)
                                        {

                                            if (tmp.Contains(true))
                                            {
                                                <div>
                                                    <input type="checkbox" id="@po.IdPole" name="OdpZamknieta_@po.IdPole" checked disabled="disabled" />
                                                    <label> @po.PropTresc</label>
                                                </div>
                                            }
                                            else
                                            {
                                                <div>
                                                    <input type="checkbox" id="@po.IdPole" name="OdpZamknieta_@po.IdPole" disabled="disabled" />
                                                    <label> @po.PropTresc</label>
                                                </div>
                                            }
                                        }
                                    }
                                }
                            </div>
                        </ul>
                    </div>
                </li>
            }
        </ul>
    }
}


