﻿@using SystemAnkietPJWSTK.Models;

@{
    List<Pytanie> pytania = (List<Pytanie>)ViewData["pytania"];
    Ankieta ankieta = (Ankieta)ViewData["ankieta"];
}

<ul class="nice-list" id="ankietaPresubmitList">

    @foreach (Pytanie p in pytania)
    {
        <li id="presubmit_questions">
            <div class="presubmit-bar k-button togglable">
                <p><span class="k-icon k-i-arrow-s"></span>@(new HtmlString(HttpUtility.HtmlDecode(p.Tresc)))</p>
            </div>
            <div class="presubmit-content-box ">
                <ul class="nice-list presubmit-qst-list">
                    <div class="qst-answer">
                        @if (p.Typ == 1 || p.Typ == 2)
                        {
                            foreach (Odpowiedz odp in p.odpowiedzi)
                            {
                                <li>
                                    <span class="answer">
                                        @odp.TrescOdpOtwartej
                                    </span>
                                </li>
                            }
                        }
                        else { 
                            
                                <div class="chart-wrapper">
                                    @(Html.Kendo().Chart<SystemAnkietPJWSTK.Models.ViewModel>()
                                        .Name("ChartPytanie" + p.Id)
                                        .HtmlAttributes(new { @class = "small-chart" })
                                        .Legend(legend => legend
                                            .Visible(true)
                                            .Position(ChartLegendPosition.Right)
                                            .Labels(labels => labels
                                                .Font("14px Arial,Helvetica,sans-serif")
                                            )
                                        )
                                        .DataSource(ds =>
                                        {
                                            ds.Read(read => read.Action("GetStatystykiByPytanieTypAnkieta", "Raport", new { idpytanie = p.Id, idAnkieta = p.IdAnkieta, typPytania = p.Typ }));
                                        }
                                        )
                                        .Series(series => series
                                                .Pie(model => model.Percentage, model => model.Value, model => model.Color)
                                                .Labels(labels => labels
                                                .Visible(true)
                                                .Template("#= category #")
                                                .Font("14px Arial,Helvetica,sans-serif")
                                            )
                                        )
                                        .Tooltip(tooltip => tooltip
                                            .Visible(true)
                                            .Format("{0:N0}")
                                            .Template("#= category #")
                                            .Font("14px Arial,Helvetica,sans-serif")
                                        )
                                        
                                    )
                                </div>
                            
                        }
                    </div>
                </ul>
            </div>
        </li>
    }

</ul>

<style scoped>
    .chart-wrapper {
        text-align: left;
        width: 1100px;
        height: 300px;
        margin: 0 auto;
    }

        .chart-wrapper h3 {
            padding: 1em 0;
            font-size: 1.5em;
            font-weight: normal;
        }

    .k-chart.small-chart {
        display: inline-block;
        width: 1100px;
        height: 300px;
       
    }
</style>

