﻿@using SystemAnkietPJWSTK.Models;

@{
    Ankieta ankieta = (Ankieta)ViewData["ankieta"];

    @(Html.Kendo().Grid<SystemAnkietPJWSTK.Models.RespondentDoRaportu>()
        .Name("grid")
        .Columns(columns =>
        {
            columns.Bound(c => c.czyWypelnil).Title("").Template(@<text></text>).ClientTemplate("#if(czyAnonim==true){#<figure class='grid-circle circle-anonim' title='Ankieta anonimowa'></figure>#}" +
                                                            "else if(czyWypelnil==true){#<figure class='grid-circle circle-green' title='Ankieta wypełniona'></figure>#}" +
                                                            "else{#<figure class='grid-circle circle-red' title='Ankieta niewypełniona'></figure>#}#").Width(16);
                                                            
            columns.Bound(c => c.KontoAD).Title("Konto AD").Width(100);
            columns.Bound(c => c.Imie).Width(140);
            columns.Bound(c => c.Nazwisko).Width(190);
        })
        .Pageable()
        .HtmlAttributes(new { style = "height:800px;" })
        .Sortable()
        .Scrollable()
        .Filterable()
        .HtmlAttributes(new { style = "height: 550px;cursor:pointer" })
        .Selectable(selectable => selectable
            .Mode(GridSelectionMode.Single)
            .Type(GridSelectionType.Row))
        .DataSource(dataSource => dataSource
            .Ajax()
            .PageSize(25)
            .Read(read => read.Action("Respondents_Read", "Raport", new { idAnkieta = ankieta.IdAnkieta }))
        )
        .Events(events => events.DataBound(
                @<text>
                    function(e){
                    var grid = this;
                    console.log("weszlo1");

                    $(".info-diod").each(function(){
                    var row = $(this).closest("tr");
                    var model = grid.dataItem(row);

                    var color = $(this).find($('[class="circle"]'));

                    if(model.czyWypelnil){
                    color.css('background', 'radial-gradient(circle at 9px 9px, #1a8d1a, #72e572)');
                    }else{
                    color.css('background', 'radial-gradient(circle at 9px 9px, #e90e0e, #f77676 )'); 
                    }

                    });
                    }
                </text>
                )
                .Change("onChange")
         )

    )
}

<script type="text/javascript">

    var anonimowa = false;

    function onOpen(e) {
        this.wrapper.css({ top: 100 });
    }

    function onChange(e) {

        var grid = e.sender;

        var selected = grid.dataItem(this.select());
        if (anonimowa) {
            alert("Ankieta anonimowa - nie możesz podejrzeć odpowiedzi repondenta.");
        }
        else if (!selected.czyWypelnil) {
            alert("Ten respondent nie wypełnił jeszcze ankiety!");
        }
        else
        {
            var contentUrl = 'Raport/PreviewByRespondent'

            $(document.body).append('<div id="Window"></div>');

            var isGuest = (selected.KontoAD === '-');

            $("#Window").load('@(Url.Action("PreviewByRespondent", "Raport", null, Request.Url.Scheme))?idAnkieta=' + @ankieta.IdAnkieta + '&idResp=' + selected.ID + '&isGuest=' + isGuest);

            $('#Window').kendoWindow({
                title: "Odpowiedzi wybranego respondenta",
                modal: true,
                resizable: false,
                width: 800,
                visible: false,
                maxHeight: 500,
            }).data('kendoWindow').center();

            var window = $("#Window").data('kendoWindow');
            window.bind("open", onOpen);


            window.open();
            selected.removeClass('k-state-selected');
        }
    }
</script>

@if (ankieta.CzyAnonim)
{
    <script type="text/javascript">
        anonimowa = true;
    </script>
}

<style type="text/css">
    #grid tbody tr:hover {
        color: #1D7BB6;
        background-color: #ECE8E5;
    }
</style>