﻿html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 37px;
    padding: 0;
    font-family: 'Century Gothic';
}

/* fix styles */

a:link {
    color: #000;
    text-decoration: none;
}

a:visited {
    color: #000 !important;
    text-decoration: none;
}

a:link:hover {
    color: #1D7BB6 !important;
}

.simple-list {
    padding: 5px;
    margin: 5px;
    list-style-type: none;
}

p {
    margin: 3px;
    font-size: 16px;
}

div.wrapper {
    clear: both;
}

.nice-list {
    list-style-type: none;
}

.nice-table {
    border: 0;
    border-collapse: collapse;
}

.nice-border-table {
    border: 1px solid black;
    border-collapse: collapse;
}

.nice-border-table tr {
    border: 1px solid black;
}

.alert-box {
    position: absolute;
    top: 0;
    width: 100%;
    height: 30px;
}

.alert-span {
    width: 425px;
    margin: 0 auto;
    height: 100%;
    text-align: center;
    border-radius: 0 0 15px 15px;
    box-shadow: 9px 13px 27px -8px #888;
    padding: 4px 0 2px 0;
}

.alert-span span {
    width:100%;
    text-align:center;
    color: #FFF;
    font-size:19px;
    font-weight:bold;
}

.alert-span.positive {
    //background-color: #267CF3;
    background-color: #1A8D1A;
}

.alert-span.negative {
    background-color: #F27C22;
}

.progress {
    width:100px;
    background-color: #FFF !important;
}

.progress .k-state-selected {
    border:0 !important;
    padding-bottom: 2px !important;
}

.progress .k-progress-status {
    position: relative;
    left: 65px;
    top: -10px;
    font-size: 14px;
}

hr {
    clear:both;
}

.grid-circle {
     margin-left:6px !important;
}

.circle-green{
  align-content: center;
  display: block;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  margin: -2px;
  background: radial-gradient(circle at 9px 9px, #1a8d1a, #72e572);
}

.circle-red{
  align-content: center;
  display: block;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  margin: -2px;
  background: radial-gradient(circle at 9px 9px, #e90e0e, #f77676 );
}

.circle-anonim{
  align-content: center;
  display: block;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  margin: -2px;
  background: radial-gradient(circle at 9px 9px, #9f9f9f, #c5c5c5);
}

.form-group{
    margin-top: 10px;
    margin-bottom: 20px;
}

.k-start {
    background-position: -110px -36px;
}

.k-stop {
    background-position: -110px -55px;
    width: 15px !important;
    height: 15px !important;
}

a.k-stop {
    width: 29px !important;
    height: 31px !important;
    min-width:20px !important;
}

a.k-start {
    width: 29px !important;
    height: 31px !important;
    min-width:20px !important;
}

.k-icon-no-button {
    margin-left: 8px;
}

input.not-valid, textarea.not-valid, table.not-valid {
    border:1px solid red;
}

.k-progressbar-horizontal>.k-state-selected, .k-rtl .k-progressbar-horizontal.k-progressbar-reverse>.k-state-selected {
    left: 0px !important;
    height: 13px !important;
    top: 0px !important;
    border-radius: 2px 0 0 2px !important;
}

/* end fix styles */

/* main layout items */

.topper {
    width: 100%;
    min-width: 1200px;
    height: 100px;
    margin-top: 10px;
    background-color: #e90e0e;
    border-top-right-radius: 42px;
    border-bottom-left-radius: 42px;
    box-shadow: 9px 13px 27px -8px #888;
}

.topper-left {
    width: 35px;
    height: 100%;
    float: left;
}

.topper-logo-pjwstk {
    width: 200px;
    height: 100%;
    float: left;
}

.topper-right {
    height: 40px;
    float: left;
    padding: 30px;
    font-size: 42px;
    color: #FFF;
    font-family: Calibri;
}

.topper-login-center {
    height: 40px;
    float: none;
    padding: 30px;
    font-size: 42px;
    color: #FFF;
    font-family: Calibri;
    text-align: center;
}

#img-login-pjwstk {
    float: none;
    width: 150px;
    height: 150px;
}

.login-form-container {
    float: none;
}

.table-login {
    text-align: left;
    margin: auto;
}

.main-site-box {
    padding: 0 0 30px 0;
}

.menu-box {
    width: 180px;
    min-height: 400px;
    position: absolute;
    top: 0;
    left: 35px;
    padding: 20px 10px;
    background-color: #FFF;
    box-shadow: 9px 9px 26px -6px #888;
    border: 1px solid #888;
    border-top: 0;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.menu-box-top {
    width: 100%;
    height: 89px;
    margin: 0px auto;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

.menu-box-top img {
    height: 75px;
}

.menu-box-middle {
    padding: 15px 0;
}

.menu-box-title {
    font-size: 14px;
    color: #4b4b4b;
    font-weight: bold;
}

.menu-box-user-box {
    padding-bottom: 15px;
    border-bottom: 1px solid #ccc;
}

.menu-box-title {
    text-align: center;
}

.menu-box-username {
    text-align: center;
}

.menu-items-box {
    padding: 15px 10px 0 10px;
}

ul.menu-items-list {
    padding: 0 15px 0 15px;
    margin: 0;
}

ul.menu-items-list li {
    font-size: 16px;
}

ul.menu-items-list li a {
    color: #000;
}

ul.menu-items-list li a:hover {
    color: #1D7BB6;
}

.menu-box-logout-box {
    width: 160px;
    height: 15px;
    padding: 10px;
    position: absolute;
    bottom: 15px;
    right: 0px;
    border-top: 1px solid #ccc;
    margin-right: 10px;
}

.menu-box-logout-box p {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

.menu-box-logout-box p a:visited {
   color: #000;
}

.topper-bottom-box {
    width: 100%;
    height: 38px;
    margin: 0;
}

.middle-box {
    width: 1200px;
    min-height: 475px;
}

.left-column {
    float: left;
    padding-left: 35px;
    width: 250px;
    min-height: 100px;
}

.container {
    float: inherit;
    width: 1200px;
    margin: 0px 0px 0px 300px;
}

.login-container {
    width: 100%;
    position: absolute;
    left: 0;
    text-align: center;
    margin-top: 50px;
}

.login-form-container input {
    font-family: 'Century Gothic';
}

.login-form-container .submit-button-row {
    padding-right: 7px;
}

footer {
    width: 100%;
    min-width: 1200px;
    height: 37px;
    margin: 10px 0 10px 0;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #e90e0e;
    color: #FFF;
    text-align: center;
    line-height: 13px;
    font-size: 12px;
    border-top-left-radius: 42px;
    border-bottom-right-radius: 42px;
    box-shadow: 5px 13px 11px -8px #888;
}

/* login form */

#loginForm {
}

#loginForm .col-md-10 {
    margin: 10px;
}

/*@media screen and (-webkit-min-device-pixel-ratio:0) {
     footer {
         margin-bottom:-10px;
     }
}*/

footer p {
    margin-top: 12px;
}

/* end main layout items */

/*show ankieta for respondent*/
.form-show {
    margin-top: 25px;
    margin-bottom: 5px;
}

.text-area-custom {
    width: 910px;
    height: 150px;
    border-radius: 4px;
    border-color: #c5c5c5;
    font-family: 'Century Gothic';
    font-size: 16px;
    display: block;
}

/* create ankieta part */
.k-datepicker-custom {
    width: 150px;
}

span.k-datepicker {
    background: none;
}

.one-line-input, .one-line-input input.k-textbox {
    width: 915px;
}


#ankietaBaseInfo .form-group label {
    padding:0 0 3px 0;
}

#ankietaBaseInfo .form-group, #ankietaRespondents .form-group {
    padding:10px 0;
    min-width:200px !important;
}

/* top navigation */

.nav {
    padding-top:25px;
}

.top-nav {
}

.top-nav h4 {
    margin-bottom: 0;
}

.top-nav-elem-left {
    float:left;
}

.top-nav-elem-right {
    float:right;
}

.save-as-robocza-link {
    position:relative;
    top:5px;
}


/* bottom navigation */
.ankieta-creator-bottom-nav {
    width: 100%;
    position: relative;
    margin-top: 50px;
    padding: 5px 0 5px 0;
    height:35px;
}

.ankieta-creator-bottom-nav .prev {
}

.ankieta-creator-bottom-nav .next {
    float: right;
}


/* styles for pytania creator */
#qstForm {
    min-height:514px;
}

#qstForm ul,
.presubmit-qst-list {
    list-style-type: none;
    padding: 0;
}

#qstForm input.one-line-response,
#qstForm textarea.fulltext-response,
.presubmit-qst-list input.one-line-response,
.presubmit-qst-list textarea.fulltext-response {
    width: 360px;
}

#qstForm .qst-title.confirmed:disabled,
#qstForm .qst-answers .answer input.confirmed:disabled {
    border: 0;
    background: transparent;
    color: #000;
}

#qstForm #qstList li:not(.k-tool-group),
.presubmit-qst-list li {
    padding: 13px;
}

#qstForm #qstList li:nth-child(odd),
.presubmit-qst-list li:nth-child(odd) {
    background-color: #F0F0F0;
}

#qstForm #qstList .qst-answers .answer,
.presubmit-qst-list .qst-answers .answer {
    display: block;
}

/* presubmit preview styles*/

#ankietaPresubmitList {
    min-height: 578px;
}

.presubmit-bar {
    width: 100%;
}

.presubmit-bar p {
    text-align: left;
}

.presubmit-content-box {
    padding: 20px;
    display: none;
}

.presubmit-content-box-visible {
    padding: 20px;
    display: block;
}

.presubmit-content-box.always-visible {
    display: block;
}

#presubmit_main_data .nice-table td {
    padding:2px 20px 2px 0;
}

#presubmit_main_data .nice-table td.left {
    float: right;
    font-weight:bold;
}

#qstList .k-content{
    height:100px !important;
}

#qstList table.k-editor {
    position: relative;
    top: -20px;
    left: 20px;
}

#qstList .qst-answers {
    margin-left: 20px;
}

#qstList .sortable-handle {
    height:20px;
    width:20px;
    display:inline-block;
    position: relative;
    top: 3px;
}

/* show preview */
#ankietaPreviewBox {
    min-height:749px;
}


